{% extends "base.html.twig" %}
{% block  title "Nos biens" %}
{% block body %}
    <div class="container mt-3">
        <h1>Liste de nos biens</h1>
        <p>Des biens hors-pairs qui répondent à tous vos critères !</p>
    </div>
{% endblock %}